@model TesteAsp.Models.VendasModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VendasModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cod_produto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_produto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_venda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
