@model IEnumerable<TesteAsp.Models.UnidadeMedida>
@using TesteAsp.Classes;

@{
    ViewBag.Title = "Unidades de Medida";
}

<h2>Unidades de Medida</h2>

<p>
   @Html.ActionLink("Criar", "Create", new { }, ButtonsHelper.buttonNew())
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UMid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidade)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UMid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidade)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UMid }, ButtonsHelper.buttonEdit()) 
            @Html.ActionLink("Details", "Details", new { id=item.UMid }, ButtonsHelper.buttonDetails()) 
            @Html.ActionLink("Delete", "Delete", new { id=item.UMid }, ButtonsHelper.buttonDelete())
        </td>
    </tr>
}

</table>
